body {
    background-image: linear-gradient(40deg,
                hsl(240deg 100% 20%) 0%,
                hsl(250deg 53% 35%) 19%,
                hsl(251deg 35% 49%) 36%,
                hsl(236deg 37% 56%) 49%,
                hsl(217deg 42% 49%) 59%,
                hsl(207deg 50% 43%) 68%,
                hsl(206deg 100% 37%) 74%,
                hsl(212deg 100% 41%) 79%,
                hsl(225deg 72% 51%) 84%,
                hsl(238deg 70% 59%) 89%,
                hsl(253deg 72% 58%) 100%);
                background-repeat: no-repeat;
               width: 100%;
               height:auto;
}

main {
    background-color: rgb(176, 126, 199);
    text-align: center;
    width: 60%;
    margin: 3em auto 5em auto;
    border:2px solid rgb(131, 134, 165);
    border-radius: 20px;
    border-style:outset ;
}

h1{ 
    color: white;
    padding-top: 1em;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 3px rgb(21, 21, 51);
}
.content {
    font-size:1.8rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px rgb(14, 14, 41);
    
}
.background {
    background-image: url(1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    height: 30vh;
    margin: 3em auto;
    padding: 3em;
}

.btn-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}

.btn {
    font-size: 1.5rem;
    padding: .5em 1.4em;
    border-radius:5px;
    color: white;
    background-color:rgb(159, 70, 218);
    border-style:outset;
    cursor: pointer;

}

.btn:focus ,
.btn:hover {
    font-size: 1.7rem;
    background-color: rgb(67, 67, 104);
    text-shadow: 1px 1px 2px rgb(21, 21, 51);
}